<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebServiceHW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6A515EE1BD54E81002D06E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A516071BD54E81002D06E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6A516121BD54E81002D06E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
